* {
  padding: 0;
  margin: 0;
}

html {
  background-color: rgb(21, 21, 21);
  font-family: "Exo 2", sans-serif;
}

/* Header */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  margin: 1.5rem 0rem 0rem 4rem;
  align-items: center;
  border-radius: 8px;
  border: 2px solid rgba(255, 255, 255, 0.612);
}

.ul {
  display: flex;
  flex-direction: row;
  gap: 1.3rem;
  padding: 0rem 3.5rem 0px;
}

.ul li {
  color: antiquewhite;
  list-style: none;
  font-weight: 700;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  list-style: none;
}
/* Header */

/* Main */
.div-imagen-ivan {
  display: flex;
  justify-content: center;
  margin: 4rem 0rem 0rem;
}

.imagen-ivan {
  max-width: 100%;
  border-radius: 1rem;
}

.texto-imagen-ivan {
  color: antiquewhite;
  font-family: "Titillium Web", sans-serif;
  font-size: 2.1rem;
  text-align: center;
}

.parrafo-1 {
  color: antiquewhite;
  font-family: "Titillium Web", sans-serif;
  font-size: 1.25rem;
  text-align: justify;
  margin: 3rem 0rem 1rem 3.5rem;
  /* border: 1px solid white; */
}

.palabra-bienvenido {
  font-size: 1.35rem;
}

.parrafo-2 {
  color: antiquewhite;
  font-family: "Exo 2", sans-serif;
  font-size: 1.12rem;
  margin: 0rem 4rem 0rem 3.5rem;
  line-height: 1.5;
  text-align: justify;
}

.seccion-2 {
  display: flex;
  justify-content: center;
}

.imagen-python {
  border-radius: 1rem;
  max-width: 60rem;
  margin: 2rem;
}

.parrafo3 {
  color: antiquewhite;
  font-family: "Exo 2", sans-serif;
  font-size: 1.12rem;
  line-height: 1.5;
  text-align: justify;
  margin: 0rem 4rem 1.5rem 3.5rem;
}

.img-tecnologias {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.img-github,
.img-markdown,
.img-git {
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  /* border: 1px solid white; */
}

.p-github,
.p-markdown,
.p-git {
  color: antiquewhite;
  width: 270px;
  text-align: justify;
  line-height: 1.5rem;
}

.p-github {
  margin-left: 3rem;
}

.p-git {
  margin-top: 15px;
  margin-right: 3rem;
}

.github {
  background-color: rgba(255, 255, 255, 0.899);
  border-radius: 5rem;
  height: 14rem;
  margin: 0rem 1.1rem 1.2rem 1.1rem;
  align-self: flex-end;
}

.markdown {
  align-self: center;
  margin: 0rem 0rem 0.5rem 0rem;
}

.git {
  height: 13rem;
  width: 14rem;
  margin: 20px 0px 0px 23px;
  align-items: center;
}
/* Main */

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  margin-top: 7rem;
}

.class-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.facebook {
  margin: 0.3rem 0.3rem;
  border-radius: 8px;
}

.youtube {
  margin: 0.3rem 0.3rem;
  border-radius: 8px;
}

.linkedin {
  margin: 0.3rem 0.3rem;
  border-radius: 8px;
}

.parrafo-footer {
  color: antiquewhite;
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  text-align: center;
  margin: 0.7rem 0rem 2rem;
  font-size: 0.9rem;
}
/*Footer*/

strong {
  font-size: 1.2rem;
}
