body {
    height: 3000px;
}

/* Estilos para la barra de navegación fija */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

/* Estilos para el contenido que simula un largo desplazamiento */
.content {
  margin-top: 60px; /* Espacio para que el contenido no quede oculto detrás de la barra */
  padding: 15px;
}
