* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .menu-container {
    color: #090909;
    background-color: #c8f1a1;
    padding: 20px 0;
  }
  
  .menu {
    border: 1px solid #fff; 
    width: 900px;
  }